*{
  font-family: Roboto;
}

/*navbar*/

body {
 margin: 0;
 color: white;
 /*scroll-behavior: smooth;*/
}
nav {
  /*background-color: black;*/
  position: fixed;
  min-width: 100%;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.logo {
  background-color: white;
  border-radius: 50px;
  height: 45px;
  margin: 1em 0;
  width: 45px;
}

nav div{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 50%;
}
nav a{
  color: white;
}

/*@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}*/

/*navbar end*/

.container{
  /*border: 1px solid red;*/
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

/*main start*/

#main{
  padding-top: 70px;
  position: relative;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  z-index: -1;
  height: 400px;
  background-image:url("../images/back.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main:after{
  content: '';
  position: absolute;
  width: 70%;
  height: 100%;
  /*background-image:url("../svg/geo.svg"),
                   linear-gradient(to bottom, #193441,#193441, #3e606f);
  background-image:url("../svg/grey-prism.svg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;*/
  transform: skew(-20deg);
  left: -10%;
  top: 0;
  border-right:2px solid white; 
}

h1{
  font-size: 6em;
  font-family: Catamaran;
  color: white;
  z-index: 1;
  border-bottom: 2px solid white;
  padding-bottom: 48px;
  margin-bottom: 32px;
}

#head{
  line-height: 0.5;
}

#head p{
  font-family: Quicksand;
  font-size: 2em;
  margin-top: 16px;
}

#register{
  background: black;
       /*background: linear-gradient(to right, #232526, #414345);*/
   background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  filter: blur(400px);
  width: 73%;
  height: 100%;
  position: absolute;
  top:0;
  right: -36%;
  transform: skew(-20deg);
  
}

#main a{
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 15px 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  z-index: 1;
  /*box-shadow: -1px 0px 82px 78px rgba(0,0,0,0.6);*/
}
/*about start*/

#about{
  /*background: linear-gradient(to bottom, #ef551f,#f3a346);*/
  /*background: #3e606f;*/
  background: white;
  background-image:url("../svg/geo.svg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  letter-spacing:0.05em;
  line-height: 2.3em;
  
}

#about h2{
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #7c7c7c;
  width: 50%;
}

#about p{
  padding: 16px 16px 85px 16px;
}

/*schedule start*/

#schedule{
  /*background: linear-gradient(to bottom, #f3a346,#d5d8c8);*/
    /*background: #464c69;*/
    background-image:url("../svg/orange.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment:fixed; 
    padding-bottom:90px; 
    display: flex;
    flex-direction: column;
    /*filter: blur(1px);*/
}

#schedule_head{
  text-align: center;
  padding: 32px; 
  margin-top: 32px;
  margin-bottom: 48px:
  text-transform:uppercase;
}

.day{
  display: flex;
  justify-content: space-around;
}

.datehack{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.date{
  height:150px;
  width: 150px;
  border:8px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  line-height: 0.5em;
  font-size: 1.5em;
  box-shadow: 0px 0px 0px 8px white inset,
              0px 0px 0px 8px white;
}

.daycontent{
  background: white;
  margin:2px;
  border-radius: 4px;
  color: #212121;
  padding: 48px;
  width: 60%;
}

.daycontent div{
  padding:16px;
  border-bottom:1px solid #bababa;
}

.daycontent span{
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}


/*speakers start*/

#speakers{
  /*background: linear-gradient(to bottom, #d5d8c8,#17a598);*/
    /*background: #cbdbd7;*/
     background: white;
    background-image:url("../svg/geo.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}

#speakers p{
  font-size: 14px;
    font-family: 'Roboto';
    color: #848484;
    margin: 0;
    text-align: center;
    width: 90%;
}
#speakers h2{

  color:black;
  font-family: 'Montserrat', sans-serif;
 font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    margin: 25px 0;
    width:100%;
    text-align: center;
}
.speaker{
  color: black;
  text-align: center;
  padding: 32px;

}
.speaker p{
      font-size: 14px;
    font-family: 'Roboto';
    color: #848484;
    margin: 0;
    margin-top: 5px;
}
.speaker h3{
      font-size: 22px;
    margin: 0;
    font-family: 'Montserrat';
    color: #2f323c;
    text-transform: uppercase;
    margin-top: 15px;
}
.speaker img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  
}

.speaker h3{
  font-family: Quicksand;
}

.speaker div{
  max-width: 250px;
}

/*location start*/

#location{
  /*background: linear-gradient(to bottom, #17a598,#000000);*/
    /*background: #193441;*/
    /*background-image:url("../svg/geo.svg");*/
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    height: 500px;
}

#map{
  height: 100%;
  width:100%;
}

/*sponsors start*/

#sponsors{
  /*background: linear-gradient(to bottom, #000000,#ffffff);*/
    /*background: #fcfff5;*/
    background: white;
    background-image:url("../svg/geo.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

#sponsors h2{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 16px;
  color: black
}

.sponsor{
  text-align: center;
  padding: 16px;
}


.sponsor p{
  font-family: Quicksand;
  font-size: 1.5em;
  color:black;
  font-weight: 700;
}

.sponsor img{

  width: 100px;
  height: 100px

}

/*contact us start*/

#contactus{
  /*background: linear-gradient(to bottom, #ef551f,#f3a346);*/
    /*background: #193441;*/
    /*background-image:url("../svg/geo.svg");*/
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}